.FillSquare {
    display: flex;
    border-radius: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    cursor: pointer;
    position: relative;
    user-select: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    /* font-family: Pacifico, cursive; */
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 30px;
    width: 107px;
    transition: transform 0.3s ease 0s;
    animation-duration: 0.75s;
    animation-name: rsrjK;
    height: 107px;
    transform: translate3d(0px, 0px, 0px);
}

.EmptySquare {
    display: flex;
    border-radius: 10px;
    background: rgb(106, 198, 184);
    cursor: pointer;
    position: relative;
    user-select: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 30px;
    width: 107px;
    transition: transform 0.3s ease 0s;
    animation-duration: 0.75s;
    animation-name: rsrjK;
    height: 107px;
    transform: translate3d(0px, 0px, 0px);
}